<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <appSettings>
        <add key="amazon:credentials:accessKeyId" value=""/>
        <add key="amazon:credentials:secretKey" value=""/>
        <add key="amazon:store:associateTag" value=""/>
        <add key="amazon:store:endpoint" value=""/>
        </appSettings>
</configuration>